---
import Social from "./Social.astro"

---
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Footer</title>
    </head>
    <body>
        <footer>
            Connect with me on <Social platform="github" username="sharpartzgh" />
            <Social platform="X" username="sharpartzgh" />
            <p>&copy; {new Date().getFullYear()} My Astro Site</p>
        </footer>
    </body>
</html>